PROJECT_ENV=dev

# Local pipeline paths
INPUT_TRANSACTIONS_PATH=data_sources/elo/historical_transactions.csv
INPUT_MERCHANTS_PATH=data_sources/elo/merchants.csv
BRONZE_DIR=bronze
SILVER_DIR=silver
GOLD_DIR=gold
TRANSACTIONS_CHUNKSIZE=500000
API_TIMEOUT_SEC=20
FX_API_URL=https://open.er-api.com/v6/latest/USD
STATE_PATH=./out/state.json
GOLD_STATE_PATH=gold/_state/processed_partitions.json

# Local utilities
DATA_DIR=./data_sources
OUTPUT_DIR=./out

# GCP reference implementation
CLOUD_PROVIDER=gcp
GCP_PROJECT_NAME=fraud-medallion-pipeline
GCP_PROJECT_ID=arboreal-logic-493416-i6
GCP_REGION=us-east1
GCP_SERVICE_ACCOUNT_NAME=sa-medallion-pipeline

# Opcional solo si usas service account JSON
# GOOGLE_APPLICATION_CREDENTIALS=C:/ruta/segura/sa-medallion-pipeline.json

# GCS target for bronze/silver backups
GCS_BUCKET=fraud-medallion-raw-fab
GCS_PREFIX=fraud_medallion
GCP_UPLOAD_BRONZE=true
GCP_UPLOAD_SILVER=true

# BigQuery datasets already created
BQ_DATASET_BRONZE=bronze
BQ_DATASET_SILVER=silver
BQ_DATASET_GOLD=gold
GCP_LOAD_GOLD_TO_BIGQUERY=true
BQ_WRITE_DISPOSITION=WRITE_TRUNCATE

# Reference paths for next stages
ELO_HISTORICAL_TRANSACTIONS_PATH=./data_sources/elo/historical_transactions.csv
ELO_NEW_MERCHANT_TRANSACTIONS_PATH=./data_sources/elo/new_merchant_transactions.csv
ELO_MERCHANTS_PATH=./data_sources/elo/merchants.csv

# FX reference config
FX_PROVIDER=er_api
FX_BASE_CURRENCY=USD
FX_TARGET_CURRENCY=MXN
FREECURRENCYAPI_KEY=
FX_OUTPUT_PATH=./data_sources/fx/
